@model SurveyTask.Models.Survey

@{
    ViewBag.Title = "Answer Survey";
}

<h2>@Model.Title</h2>

@using (Html.BeginForm("AnswerSurvey", "UserSurveys", FormMethod.Post))
{
    @Html.HiddenFor(model => model.SurveyId) <!-- Include the survey's ID -->

    <h3>Questions</h3>
    <div id="questionsContainer">
        @for (int i = 0; i < Model.Questions.Count; i++)
        {
            <div class="form-group">
                <label class="control-label">Question</label>
                @Html.HiddenFor(model => model.Questions.ToArray()[i].QuestionId)
                @Html.HiddenFor(model => model.Questions.ToArray()[i].Text)

                @Html.DisplayFor(model => model.Questions.ToArray()[i].Text)
            </div>
            <div>
                @Html.TextAreaFor(model => model.Questions.ToArray()[i].AnswerText, new { @class = "form-control answer-text" })
                <span id="answerTextValidation@(Model.Questions.ToArray()[i].QuestionId)" class="text-danger"></span>
            </div>
        }
    </div>
    <button id="btnSubmitAnswers" class="btn btn-primary">Submit Answers</button>

}



@section Scripts {
    <script>
        $(document).ready(function () {

            $("#btnSubmitAnswers").click(function () {

                debugger;
                    var answers = [];
                    $(".answer-text").each(function () {
                        var questionId = $(this).siblings("input[type='hidden']").val();
                        var answerText = $(this).val();
                        answers.push({ QuestionId: questionId, AnswerText: answerText });
                    });

                             let answersList = JSON.stringify({ answers: answers });
                             let data = { answers: answersList, SurveyId : $('#SurveyId').val() }
                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("SubmitAnswers", "UserSurveys")",
                        data: data,
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {
                            if (data.success) {

                                 console.log("Answers submitted successfully.");
                            } else {

                                console.log("Error submitting answers. Errors: " + data.errors.join(", "));
                            }
                        },
                        error: function () {

                            console.log("Error submitting answers.");
                        }
               });
            });

        });


    </script>
}
