@model SurveyTask.Models.Survey

@{
    ViewBag.Title = "Answer Survey";
}

<h2>@Model.Title</h2>

@using (Html.BeginForm("AnswerSurvey", "UserSurveys", FormMethod.Post, new { id = "answerSurveyForm"}))
{
    @Html.HiddenFor(model => model.SurveyId) <!-- Include the survey's ID -->

    <h3>Questions</h3>
    <div id="questionsContainer">
        @for (int i = 0; i < Model.Questions.Count; i++)
        {
            <div class="form-group">
                <label class="control-label">Question</label>
                @Html.HiddenFor(model => model.Questions.ToArray()[i].QuestionId)
                @Html.HiddenFor(model => model.Questions.ToArray()[i].Text)

                @Html.DisplayFor(model => model.Questions.ToArray()[i].Text)
            </div>
            <div>
                <textarea name="Questions[@i].AnswerText" class="form-control answer-text" id="@Model.Questions.ToArray()[i].QuestionId"></textarea>
                <span id="answerTextValidation@(Model.Questions.ToArray()[i].QuestionId)" class="text-danger"></span>
            </div>
        }
    </div>
    <button id="btnSubmitAnswers" class="btn btn-primary">Submit Answers</button>

}



@section Scripts {
    <script>
        $(document).ready(function () {

            $("#answerSurveyForm").submit(function (e) {
                e.preventDefault();

                    var answers = [];
                    $(".answer-text").each(function () {
                        var questionId = $(this).attr('id');
                        var answerText = $(this).val();
                        answers.push({ QuestionId: questionId, AnswerText: answerText });
                    });

                    let answersList = JSON.stringify({ model: { SurveyId : $('#SurveyId').val(), Answers : answers } });
                    let data = answersList
                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("SubmitAnswers", "UserSurveys")",
                        data: data,
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {
                            if (data.success) {

                                 alert("Answers submitted successfully.");
                                 window.history.back();
                            } else {
                                alert("Error submitting answers.");
                                console.log("Error submitting answers. Errors: " + data.errors.join(", "));
                            }
                        },
                        error: function () {

                            console.log("Error submitting answers.");
                        }
               });
            });

        });


    </script>
}
